<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app-4">

        <!-- <li v-for="todo in todos">{{todo.a}}</li> -->
        <p v-bind.tostring()="todos"></p>
        <!-- <li v-for="todo in todos">{{todo.b}}</li> -->

    </div>
    <script>
        const app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                    a: '唯'
                }, {
                    b: '愿'
                }, {
                    c: '饶'
                }, {
                    d: '安'
                }]
            }
        })
    </script>
</body>

</html>